<div class="nav nav-home">
    <ul class="list">
        <li class="item">
            <a class="link" href="{{ site.url }}/blog">Blog</a>
        </li>
        <!--<li class="item">
            <a class="link" href="{{ site.url }}/lojinha">Lojinha</a>
        </li>-->
        <li class="item">
            <a class="link" href="{{ site.url }}/about#portfolio">Portfólio</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/about">Sobre</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}/about#contact">Contato</a>
        </li>
    </ul>
</div>