body, html {
  min-width: 360px !important;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  width: 100%;
  min-width: 360px !important;
  color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #d4d4d4;
    background: #2b2b2b;
  }
}

footer {
  padding: 20px 0;
  font-size: 1rem;
  color: #aaa;
  font-weight: 300;
  text-align: center;
  position: relative;
}

footer a.link {
  color: #aaa;
  opacity: 1;
}

footer a.link i.fa-rss:hover {
  color: #aaa;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45), 0px 0px 12px rgba(0, 0, 0, 0.4);
  opacity: .8;
}

footer a.link i.fas:hover {
  color: #aaa;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45), 0px 0px 12px rgba(0, 0, 0, 0.4);
  opacity: .8;
}

.HomeCard > footer {
  border-top: 1px solid #d4d4d4;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border: 0.5px solid #2b2b2b;
}

@media (prefers-color-scheme: dark) {
  hr {
    border: 0.5px solid #d4d4d4;
  }
}

.container {
  position: relative;
  max-width: 560px;
  height: 100%;
  width: 96%;
  margin: 0 auto;
}

.HomeCard {
  width: 100%;
  margin: 50% 0;
}

header.nav-home {
  width: 90%;
  margin: 0 5%;
  display: block;
}

header.nav-home .pic {
  text-align: center;
  width: 40%;
  float: left;
}

header.nav-home .pic a.imageprofile img.imageprofile {
  width: 125px;
  border-radius: 25%;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  opacity: 1;
}

header.nav-home .pic a.imageprofile img.imageprofile:hover {
  -webkit-box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 0px 12px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 0px 12px 0 rgba(0, 0, 0, 0.15);
  opacity: .8;
}

header.nav-home .acess {
  width: 60%;
  float: right;
  text-align: center;
}

header.nav-home .acess h1.titlehome {
  font-weight: 550;
  font-size: 3rem;
  margin: 0 0 13px;
}

@media screen and (min-width: 400px) and (max-width: 1050px) {
  header.nav-home .acess h1.titlehome {
    font-weight: 500;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  header.nav-home .acess h1.titlehome {
    font-weight: 450;
    font-size: 2rem;
  }
}

nav.nav-top {
  width: 90%;
  margin: 0 5%;
}

@media screen and (min-width: 400px) and (max-width: 1050px) {
  nav.nav-top {
    width: 95%;
    margin: 0 2.5%;
  }
}

@media screen and (max-width: 400px) {
  nav.nav-top {
    width: 98%;
    margin: 0 1%;
  }
}

nav.nav-top a.titlelink {
  float: left;
  text-decoration: none;
}

nav.nav-top a.titlelink h1 {
  color: #000;
  font-size: 18px;
  padding: 4px 4px;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-shadow: none;
  opacity: 1;
  position: relative;
}

@media screen and (min-width: 400px) and (max-width: 1050px) {
  nav.nav-top a.titlelink h1 {
    font-size: 17px;
  }
}

@media screen and (max-width: 400px) {
  nav.nav-top a.titlelink h1 {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  nav.nav-top a.titlelink h1 {
    color: #d4d4d4;
  }
}

nav.nav-top a.titlelink h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (prefers-color-scheme: dark) {
  nav.nav-top a.titlelink h1:before {
    background-color: #d4d4d4;
  }
}

nav.nav-top a.titlelink h1:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav.nav-top ul.list {
  float: right;
}

nav.nav-top ul.list li.item a.link {
  font-size: 18px;
  padding: 4px 4px;
}

@media screen and (min-width: 400px) and (max-width: 1050px) {
  nav.nav-top ul.list li.item a.link {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  nav.nav-top ul.list li.item a.link {
    font-size: 14px;
  }
}

.nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
}

.nav.nav-home {
  width: 100%;
  text-align: center;
}

ul.list {
  list-style: none;
  display: inline-block;
  padding: 0;
}

ul.list li.item {
  display: inline-block;
}

ul.list li.item a.link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 7px 15px;
  font-weight: 300;
  margin: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-shadow: none;
  opacity: 1;
}

@media screen and (min-width: 400px) and (max-width: 1050px) {
  ul.list li.item a.link {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  ul.list li.item a.link {
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  ul.list li.item a.link {
    color: #d4d4d4;
  }
}

ul.list li.item a.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (prefers-color-scheme: dark) {
  ul.list li.item a.link:before {
    background-color: #d4d4d4;
  }
}

ul.list li.item a.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

ul.list.social {
  padding: 0px;
}

ul.list.social li.item {
  padding: 5px 7px;
}

ul.list.social li.item a.icon i.fab {
  font-size: 17px;
}

.aboutpage hr {
  margin: auto;
  width: 75%;
}

a.icon {
  color: #000;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-shadow: none;
  opacity: 1;
  position: relative;
}

a.icon i.fab:hover {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45), 0px 0px 12px rgba(0, 0, 0, 0.4);
  opacity: .8;
}

a.icon i.fas:hover {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45), 0px 0px 12px rgba(0, 0, 0, 0.4);
  opacity: .8;
}

@media (prefers-color-scheme: dark) {
  a.icon {
    color: #d4d4d4;
  }
}

p {
  line-height: 1.7;
  color: #000;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: .4px;
}

@media (prefers-color-scheme: dark) {
  p {
    color: #d4d4d4;
  }
}

.start .details {
  margin: 15px 0;
  width: 100%;
}

.start .details .mid {
  float: left;
  width: 30%;
}

.start .details .mid img {
  margin: 5%;
  width: 90%;
}

.start .details .top {
  margin: 5% 0px;
  float: left;
  width: 70%;
}

@media screen and (min-width: 400px) and (max-width: 1050px) {
  .start .details .top {
    margin: 2% 0px;
  }
}

@media screen and (max-width: 400px) {
  .start .details .top {
    margin: 1% 0px;
  }
}

.start .details .top p {
  font-size: 16px;
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 400px) and (max-width: 1050px) {
  .start .details .top p {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .start .details .top p {
    font-size: 12px;
  }
}

.start .details .half {
  width: 50%;
  float: left;
}

.start .details .half p {
  margin: 5px;
  width: 100%;
}

.start .details .half p a {
  word-break: break-all;
  text-decoration: none;
  color: #000;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .start .details .half p a {
    color: #fff;
  }
}

.start .details .half p a:hover {
  color: #2b2b2b;
  opacity: .6;
}

@media (prefers-color-scheme: dark) {
  .start .details .half p a:hover {
    color: #d4d4d4;
  }
}

.start > .title {
  text-align: center;
}

.start > .date {
  margin-bottom: 1.2rem;
}

.start > .date, .start > .post-tags {
  color: #000;
  font-weight: 300;
  font-size: .9rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  .start > .date, .start > .post-tags {
    color: #d4d4d4;
  }
}

img {
  border-radius: 4px;
  max-width: 100%;
  border-style: none;
}

section.post-list {
  width: 100%;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

section.post-list .item-post {
  width: 90%;
  margin: 0% 5%;
  padding: 20px 0;
}

section.post-list .item-post a.url {
  width: 100%;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  section.post-list .item-post a.url {
    color: #d4d4d4;
  }
}

section.post-list .item-post a.url h3.title {
  position: relative;
  margin: 0;
  float: left;
  width: 70%;
  text-align: left;
  font-weight: 500;
}

section.post-list .item-post a.url h3.title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (prefers-color-scheme: dark) {
  section.post-list .item-post a.url h3.title:after {
    border-bottom: 2px solid #d4d4d4;
  }
}

section.post-list .item-post a.url h3.title:hover:after {
  width: 80%;
}

section.post-list .item-post a.url .date {
  right: 0;
  float: right;
  width: 30%;
  text-align: right;
  color: #aaa;
}

section.post-list .item-post a.url .date time {
  font-weight: 300;
}

section.post-list .pagination {
  width: 95%;
  margin: 2rem auto;
  text-align: center;
  color: #000;
}

section.post-list .pagination a {
  color: #000;
  opacity: 1;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  section.post-list .pagination a {
    color: #d4d4d4;
  }
}

section.post-list .pagination a:hover {
  opacity: .8;
}

@media (prefers-color-scheme: dark) {
  section.post-list .pagination {
    color: #d4d4d4;
  }
}

.hidden {
  visibility: hidden;
}

section.port-list {
  width: 100%;
  margin: 20px 0;
}

section.port-list .item-post {
  width: 90%;
  margin: 0% 5%;
  padding: 20px 0;
}

section.port-list .item-post a.url {
  width: 100%;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  section.port-list .item-post a.url {
    color: #d4d4d4;
  }
}

section.port-list .item-post a.url h3.title {
  position: relative;
  margin: 0;
  float: left;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

section.port-list .item-post a.url h3.Trabalho {
  position: relative;
  margin: 0;
  float: left;
  width: 100%;
  text-align: center;
  font-weight: 550;
}

section.port-list .item-post a.url h3.title:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  left: 35%;
  right: 35%;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (prefers-color-scheme: dark) {
  section.port-list .item-post a.url h3.title:after {
    background-color: #d4d4d4;
  }
}

section.port-list .item-post a.url h3.title:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

section.contact {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}

section.contact form {
  width: 95%;
  margin: 20px 0px 60px 0px;
}

section.contact form input {
  font-size: 18px;
  width: 100%;
  margin: 5px 0px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  resize: none;
}

@media (prefers-color-scheme: dark) {
  section.contact form input {
    color: #aaa;
    background-color: #2b2b2b;
  }
}

section.contact form input[type=submit] {
  background-color: #aaa;
  border: none;
  color: #fff;
  padding: 18px;
  text-decoration: none;
  cursor: pointer;
  width: 30%;
  margin: 5px 35%;
  opacity: 1;
}

section.contact form input[type=submit]:hover {
  opacity: .8;
}

section.contact form textarea {
  margin: 5px 0px;
  font-size: 16px;
  height: 450px;
  border: 1px solid #d4d4d4;
  width: 100%;
  resize: none;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  section.contact form textarea {
    color: #aaa;
    background-color: #2b2b2b;
  }
}

section.start {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #d4d4d4;
}

section.comments {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}

video, iframe {
  max-width: 100%;
}

.center {
  text-align: center;
}

.portpostpage .content {
  border-bottom: 1px solid #aaa;
}

/* Slider https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_dots2 */
.w3-content {
  max-width: 560px;
}

.w3-content, .w3-auto {
  margin-left: auto;
  margin-right: auto;
}

.w3-tooltip, .w3-display-container {
  position: relative;
}

element.style {
  width: 90%;
}

.w3-text-white, .w3-hover-text-white:hover {
  color: #fff !important;
}

.w3-section, .w3-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.w3-large {
  font-size: 18px !important;
}

.w3-container, .w3-panel {
  padding: 0.01em 16px;
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

.w3-left {
  color: #aaa !important;
  float: left !important;
}

.w3-center {
  text-align: center !important;
}

.w3-right {
  color: #aaa !important;
  float: right !important;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.w3-white, .w3-hover-white:hover {
  color: #2b2b2b !important;
  background-color: #aaa !important;
}

.w3-transparent, .w3-hover-none:hover {
  background-color: transparent !important;
}

.w3-border {
  border: 1px solid #ccc !important;
}

.w3-badge {
  border-radius: 50%;
}

.w3-badge, .w3-tag {
  background-color: #2b2b2b;
  color: #aaa;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

/* Slider https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_dots2 */
/*# sourceMappingURL=main.css.map */